################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FunctionApp/FunctionApp/Properties/PublishProfiles
